services:
  neo4j:
    image: neo4j:5
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
    restart: unless-stopped
    environment:
      NEO4J_AUTH: neo4j/omniservice

volumes:
  neo4j_data:
